.container {
    width: 1200px;
    margin: 0 auto;
}

.nav_bar {
    background: #ffb3c6;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav_bar .yuiyi_house {
    color: white;
    font-size: 24px;
}

.content {
    margin-top: 30px;
}

.yuiyi_show_img {
    width: 400px;
    height: 600px;
    padding: 10px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.45s linear;
}

.yuiyi_show_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
}

.yuiyi_show_img:hover {
    transform: translate(3px, 3px);
}

.yuiyi_info {
    width: 700px;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(255, 192, 203);
    transition: all 0.45s linear;
}

.yuiyi_info:hover {
    transform: translate(3px, 3px);
}

.yuiyi_info .info_item {
    color: black;
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-radius: 8px;
    transition: all 0.6s linear;
}

.yuiyi_info .info_item h3 {
    font-size: 20px;
}

.yuiyi_info .info_item p {
    font-size: 16px;
    text-indent: 2em;
}

.yuiyi_info .info_item:hover {
    background-color: rgba(255, 192, 203, 0.35);
}

.yuiyi_info .info_item:last-child {
    border-bottom: none;
}

.yuiyi_info .yuiyi_real_thing {
    font-size: 26px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
}

.yuiyi_info .yuiyi_name {
    text-align: center;
    margin-bottom: 10px;
}

.yuiyi_gallery {
    column-count: 3;
}

.yuiyi_gallery h1 {
    color: rgb(255, 192, 203);
    font-size: 32px;
    column-span: all;
    text-align: center;
    margin-top: 15px;
}

.yuiyi_gallery .yuiyi_photos img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    margin-top: 15px;
}